main#app {
	min-height: 85vh;
}
.status {
	display: none;
}
.button-link {
	text-decoration: none;
	color: #fff;
}
.button-link:hover {
	color: #fff;
}
textarea {
	min-height: 175px !important;
}
.home-note {
	max-height: 175px;
	min-height: 175px;
	overflow-y: hidden;
}
.btn {
	padding: 5px;
	max-height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	text-transform: uppercase;
}
.card-footer:not(last-child) > * {
	margin-right: 5px;
}
.card-footer {
	display: flex;
	justify-content: end;
}
